<!-- 置中 -->
<div class="frameCss">
  <!-- header -->
  <div class="headerCss">

    <!-- logo的位置 -->
    <label class="logo">WM</label>
    <label class="loginText">{{userName}}，歡迎使用</label>

  </div>
</div>

<br>
<!-- 父層 -->
<div class="frameCss">
  <!-- 子層 -->
   <!-- <div class="iconbox"> -->
  <div>
    <button class="iconbtn">
      <img style="width: 70px;height: 70px;" src="/AboutUs.png" (click)="setAboutUs()">
      <br><br>
      <label style="font-size: 16px;">關於我們</label>
    </button>
    <button class="iconbtn">
      <img style="width: 80px;height: 70px;" src="/Notify.png" (click)="setNotification()">
      <br><br>
      <label style="font-size: 16px;">公告設定</label>
    </button>
    <button class="iconbtn">
      <img style="width: 90px;height: 80px;" src="/TermsOfService.png" (click)="setService()">
      <br><br>
      <label style="font-size: 16px;">服務條款</label>
    </button>
    <button class="iconbtn">
      <img style="width: 80px;height: 70px;" src="/Privacy.png" (click)="setPrivacyPolicy()">
      <br><br>
      <label style="font-size: 16px;">隱私政策</label>
    </button>
    <!-- <hr> -->
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- 系統通知 -->
<div class="frameCss">
  <div style="font-size: 18px;">系統通知</div>
</div>
<div class="frameCss" style="margin: 20px;">
  <div style="width: 70%; border-color: #4091c9;">
    @for(system of systemList ; track $index){
    <div class="system">
      <label class="system-tag">{{system.tag}}</label>
      <label class="system-title">{{system.title}}</label>
      <label style="position: absolute;right:20px">{{system.date}}</label>
    </div>
    }
  </div>
</div>
<br><br><br><br><br><br><br><br>
<!-- <div class="frameCss">
  <div class="notification">
    <span>系統公告</span>
    <div class="notificationDetail">
      <span>[維護公告]系統將進行例行性維護...</span>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->

<div class="footerCss">
  <!-- footer -->
  <span>© 2026 WealthMap 版權所有</span>
</div>
